.title-component {
    position: relative;
    z-index: 1;
}
.title-component h3 {
    font-size: x-large;
    padding-top: 20px;
    padding-left: 30px;
}
.action-buttons {
    padding-top: 20px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;

    a {
      color: white;
      text-decoration: none;
    }
}

.tabla-inventario {
    padding: 30px;
}

.MuiPaper-root {
    padding: 5px;    
}
