.first-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 20px;
    padding-top: 10px;
    .error-columns {
      display: flex;
      flex-direction: column;
    }
    div {
      width: 210px;
    }
}
.second-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap: 20px;
  padding-top: 10px;
}
.third-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 20px;
    padding-top: 3px;
}

.action-button {
    margin: 0 auto;
}

form {
  margin-top: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

p {
  color: red;
  padding-top: 0;
  margin: 0;
}