.title-csv {
    text-align: center;
    margin-top: 60px;
    font-weight: bolder;
}
.csv-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    top: 20%;
}
img {
    width: 55px;
}
span {
    font-weight: bolder;
}
p {
    font-weight: lighter;
}
.legend {
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recomendacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding-top: 40px;
}